<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.key ? (cl_image_path @list.photo.key) : 'https://guide-in-dubai.com/wp-content/uploads/2020/05/IMG-Worlds-of-Adventure-guide-in-dubai.jpeg'  %>);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
  </div>
 <%= link_to 'Delete', list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:'delete' %>
</div>


<div class="container">

  <div data-controller="form">
    <div class="d-none" data-form-target="form">
      <%= simple_form_for [@list ,@bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit %>
      <% end %>
    </div>


    <div class="d-flex justify-content-between align-items-center">
      <h3><%= @list.name %></h3>
      <%= link_to 'Add a movie', '', class:'btn btn-success m-2', data: {  action: 'click->form#new'} %>
    </div>
  </div>
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url, alt: "image"%>
        <div class="d-flex">
              <h2><%= bookmark.movie.title %></h2>
              <p class="px-2"><%= bookmark.movie.rating %> <i class="fa-solid fa-star"></i> </p>
            </div>
        <div class="card-trip-infos">
          <div>

            <p><%= bookmark.movie.overview %></p>
            <p><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %> </p>
          </div>

        </div>
        <h2 class="card-trip-pricing"><%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:'delete' %></h2>
      </div>
    <% end %>
  </div>
</div>

<br>
